<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	{% assets 'main_css' %}
	<link rel= "stylesheet" type= "text/css" href= "{{ ASSET_URL }}">
	{% endassets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Oswald"> 
	<link rel="shortcut icon" href="{{ url_for('static', filename='pics/faviconandy.ico') }}">
	<title>Andy Zheng | Portfolio</title>
</head>
<body class='portfolio'>

	<!-- Header -->
	<header id = 'portfolioHeader'>
		<br>
	<div>
		<h1 class='portfolioIntro'>Andy Zheng.</h1>
		<br>
		<h1 class='portfolioIntro'>Portfolio.</h1>
		<br>
		<h1 class='portfolioIntro'>&darr;</h1>
	</div>
	</header>
	<!-- Navbar -->
	<div>
		<nav class="navbar sticky-top navbar-light"  id="portfolioNavbar">
		<li class ='nav-link py-0'>
			<a href="{{url_for('core.index')}}"><button type="button" class="btn btn-outline-dark">
				<img src="/static/pics/home.png" width="30" height="30" class="d-inline-block align-top"></button></a>
		</li>
		<ul class="nav justify-content-end" id='navbarPadding'>
		<li class ='nav-link '>
			<a href="{{url_for('core.blog')}}" class='blackFont'>Blog</a>
		</li>
		<li class ='nav-link'>
			<a href="{{url_for('core.about')}}" class='blackFont'>Portfolio</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle blackFont" href="#" id="carousel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='umm'>
          Carousel
        </a>
        <div class="dropdown-menu" aria-labelledby="carousel">
			<a class="dropdown-item" href="{{url_for('core.animals')}}">Animals</a>
			<div class="dropdown-divider"></div>
		
			<a class="dropdown-item" href="{{url_for('core.nature')}}">Nature</a>
			<div class="dropdown-divider"></div>
		
			<a class="dropdown-item" href="{{url_for('core.headphones')}}">Headphones</a>
			<div class="dropdown-divider"></div>

			<a class="dropdown-item" href="{{url_for('core.technology')}}">Technology</a>
			{% if current_user.is_authenticated %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{{url_for('core.goat')}}">GOAT</a>
			{% endif %}
		</ul>
		</nav>
	<div>
		<!-- Platform box and Summary -->
		<div class='box'><p>Platforms.</p>
			<a href="https://github.com/andyz123"><button type="button" class="btn btn-outline-dark"><i class="fa">&#xf09b;</i></button></a>
			<span class='paddingDistance'>
			<a href="https://www.linkedin.com/in/andy-zheng-5a512614a/"><button type="button" class="btn btn-outline-primary"><i class="fa">&#xf08c;</i></button></a></span>
			<span class='paddingDistance'>
			<a href="mailto:andy@andyzhengblog.com"><button type="button" class="btn btn-outline-dark"><i class="fa">&#xf0e0;</i></button></a></span>
		</div>
		<div>
			<h2 class='portfolioHeadingsAlt'>Hello.</h2>
		<p class='summary'>I'm a Software Engineer/Developer from New York City, NY. I graduated from Stony Brook University in 2017. I love coding, design, games and basketball. Available for freelance work.</p>
		</div>
		<hr>
		<!-- Skill table -->
		<div>
			<h2 class='portfolioHeadingsAlt'>Skills.</h2>
			<table class="table table-borderless table-dark" id='portfolioTable'>
			    <tbody>
			        <tr>
			          <th>Languages:</th>
			            <td>Python</td>
			            <td>JavaScript</td>
			            <td>Java</td>
			            <td>SQL</td>
			        </tr>
			        <tr>
			          <th>Technologies:</th>
			            <td>HTML</td>
			            <td>CSS</td>
			            <td>jQuery</td>
			            <td>Node.js</td>
			            <td>Git</td>
			        </tr>
			        <tr>
			          <th>Frameworks:</th>
			            <td>Flask</td>
			            <td>Bootstrap</td>
			            <td>Express</td>
			        </tr>
			        <tr>
			          <th>Databases:</th>
			            <td>MySQL</td>
			            <td>SQLite</td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<br>
		<hr>
		<!-- Portfolio Section -->
	<div>
		<h2 class='portfolioHeadings'>Portfolio.</h2>
		<div class='portfolioRow1'>
			<a href="https://github.com/andyz123/Shopping_List"><img src="static/pics/shoppingList.png" class='shoppingList'></a>
			<h3 class='portfolioRFont'>Shopping List Web Application</h3>
			<p class='portfolioOFont'><a href="https://andyshoppinglist.herokuapp.com/">https://andyshoppinglist.herokuapp.com/.</a></p>
			<p class='portfolioOFont'>This is a shopping list application for people who likes planning and prefer to take their lists on the go. This application features a cloud database, implemented using MongoDB, allowing users to access the list anywhere internet is present. Users may add an item by name, quantity, and price per item. Additionally, users may check the boxes next to the item to cross an item out. It does not end there. Users can delete items from the list altogether by pressing the minus button while items are crossed out. At the bottom displays the total price that the user should expect to spend.</p>
		</div>

		<div class='portfolioRow2'>
			<a href="https://github.com/andyz123/PyGameBlackJack"><img src="static/pics/drawing.png" class='blackjack'></a>
			<h3 class='portfolioRFont'>Blackjack in Pygame</h3>
			<p class='portfolioOFont'>This is the classic Blackjack game developed using the Pygame library. Originally, I wrote a Blackjack game that is played purely in the terminal. It's still in my GitHub repository. However, this application is played in the Pygame client with images, a much better experience overall. Players are given 100 chips to begin, and will trigger a 'Game Over' if the number of chips reaches 0. Players may bet in amounts of 5, 10, 25, 50, or 100. I really want to go into game mechanics, but I'll need a lot more space for that. Click the image for a more in-depth description! </p>
		</div>

		<div class='portfolioRow2'>
			<a href="https://github.com/andyz123/WebScraping"><img src="static/pics/webscraping.png" class='webscrape'></a>
			<h3 class='portfolioRFont'>Webscraping</h3>
			<p class='portfolioOFont'>For the past year, I have essentially been making and maintaining webscrapers. The essence of webscraping is to gather information without us having to manually repeat the same task. We let our scripts do that. Thus, I believe we have to implement wait-times inbetween pages and slow down the scrape. We are inconveniencing other people's servers. Moving on, webscrapers will likely break. If the site's structure that you are scraping changes, the code will break. Therefore, the example webscraping script that's shown is for a site that's made to be scraped. This ensures the site wouldn't change their structure, and the code wouldn't break. I can write this once and not maintain it.</p>
		</div>

		<div class='portfolioRow2'>
			<a href="https://github.com/andyz123/AndyZhengBlog"><img src="static/pics/site.jpg" class='personalSite'></a>
			<h3 class='portfolioRFont'>Portfolio Website / Blog</h3>
			<p class='portfolioOFont'>This website. There are two main sections: the Blog, and the Portfolio. There are also the carousels, but that's mostly fluff. I have actually implemented and tried using a couple of different cloud databases with the blog, MySQL and PostgreSQL for example. However, the free versions causes the site to time-out very often. Thus, I decided to just go with a local SQLite database, but kept basic functionalities such as creating new posts and registering. I can still post, and visitors can still browse. For the portfolio section, I tried my best to make everything look nice and orderly. That was the design philosphy.</p>
		</div>
	</div>
	<hr>
	<!-- About Me/This project -->
	<div>
		<h2 class='portfolioHeadingsAlt'>About.</h2>
		<div class='portfolioAbout'>
		<p>I learned my first programming language when I was a Freshman at Stony Brook University. That was in 2013, 6 years ago.</p>
		<p>Since then, I've learned and worked with many different programming languages and technologies.</p>
		<p>My preferred programming langauge is Python, so when I decided to write my own website, it was a toss-up between Django and Flask.</p>
		<p>I didn't have a preference. However, Flask is the better choice for what I wanted to do. So I went with Flask and this is my work.</p>
		</div>
	</div>
	<hr>
	<!-- Contact -->
	<div>
		<h2 class='portfolioHeadingsAlt'>Contact.</h2>
		<p class='portfolioAbout'>Email: andy@andyzhengblog.com - Available for Freelancing.</p>
		<form action="mailto:andy@andyzhengblog.com" method="post" enctype="text/plain" class='portfolioContactForm'>
			<div class="form-group">
	    		<textarea class="form-control" id="exampleFormControlTextarea1" name='Contacted from blog' rows="5"></textarea>
	    		<br>
	    		<button type="submit" class="btn btn-primary">Submit</button>
  			</div>
			
		</form>
	</div>
		
	</div>
	
	<footer id='portfolioFooter'>
		<!-- <p align="center" style="font-size: 1vw; font-family: 'Garamond';">© Andy Zheng 2019</p> -->
	</footer>
</body>
</html>