<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	{% assets 'main_css' %}
	<link rel= "stylesheet" type= "text/css" href= "{{ ASSET_URL }}">
	{% endassets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> 
	<link rel="shortcut icon" href="{{ url_for('static', filename='pics/faviconandy.ico') }}">
	<title>Andy's Portfolio Page</title>
</head>
<body class='portfolio'>

	<!-- header -->
	<header id = 'portfolioHeader'>
		<br>
	<div>
		<h1 class='portfolioIntro'>Andy Zheng.</h1>
		<br>
		<h1 class='portfolioIntro'>Portfolio.</h1>
		<br>
		<h1 class='portfolioIntro'>&darr;</h1>
	</div>
	</header>

	<div>
		<nav class="navbar sticky-top navbar-light"  id="baseNavbar">
		<li class ='nav-link'>
			<a href="{{url_for('core.index')}}">
				<img src="/static/pics/home.png" width="30" height="30" class="d-inline-block align-top" alt=""><b></b></a>
		</li>
		<ul class="nav justify-content-end">
		<li class ='nav-link '>
			<a href="{{url_for('core.blog')}}" class='blackFont'>Blog</a>
		</li>
		<li class ='nav-link'>
			<a href="{{url_for('core.about')}}" class='blackFont'>Portfolio</a>
		</li>
		</ul>
		</nav>
		<h2><u><strong>About Me</strong></u></h2>
		<p>Hey there! My name is Andy and I am a Software Engineer/Developer from Brooklyn, NY. I graduated from Stony Brook University in 2017.
		<br>
		Interest-wise, I really enjoy coding, headphone browsing, basketball and technology (broad, but anything that can make our lives easier).</p>
		
		<p>Python has always been one of my favorite programming languages, so when I decided to write my own personal website from scratch, I thought- why not write it in Python?
		<br> 
		It would be a decent alternative to the classic combination of HTML, CSS, and JavaScript.</p>
		<p>So with the aid of the Flask framework, I managed to write the entire back-end logic using Python!</p>
		<p>The tech stack for this website looks something like this:
			<ul>
			<li>Python (Flask), HTML, CSS (Bootstrap), SQLite</li>
		</ul></p>

		

		<h3><u><strong>My Skills</strong></u></h3>
		<ul>
			<li><b>Languages:</b> Python, JavaScript, Java, SQL, NoSQL</li>
			<li><b>Databases:</b> SQLite, MySQL, MongoDB</li>
			<li><b>Technologies:</b> HTML, CSS, jQuery, Node.js, Git</li>
			<li><b>Frameworks:</b> Flask, Express, Bootstrap, Mongoose</li>
			<li><b>Soft Skills:</b> Critical Thinking, Problem Solving, Self-Motivated, Team Player</li>
		</ul>
		
		<h3><u><strong>Contact and Platforms</strong></u></h3>
		<strong>Email: andy@andyzhengblog.com</strong> 
		<br><br>
		<strong>Github:</strong>
		<a href="https://github.com/andyz123"><button type="button" class="btn btn-outline-dark"><i style="font-size:24px" class="fa">&#xf09b;</i></button></a>
		<strong>LinkedIn:</strong>
		<a href="https://www.linkedin.com/in/andy-zheng-5a512614a/"><button type="button" class="btn btn-outline-primary"><i style="font-size:24px" class="fa">&#xf08c;</i></button></a>
	</div>

	<footer id='portfolioFooter'>
		<!-- <p align="center" style="font-size: 1vw; font-family: 'Garamond';">© Andy Zheng 2019</p> -->
	</footer>
</body>
</html>