{% extends 'base.html' %}
{% block content %}
<body id = 'blackGradient'>
	
	<div class = 'jumbotron border border-primary' id='blogJumbo'>
		<div align="center" id='blogJumboText'>
		{% if current_user.is_authenticated %}
		<h1>Welcome to the Blog, {{current_user.username}}!</h1>
		<h2>Feel free to browse or post.</h2>
		{% else %}
		<h1>Welcome to the Blog! </h1>
		<h2>Feel free to browse. Register to post!</h2>
		{% endif %}
		<h6>Posts within two days created are marked <span class="badge badge-success">New!</span></h6>
		<!-- Hidden Puppy Image (Easter Egg)-->
		<img src="https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="opacity: 0;">
		<!-- Hidden Puppy Image (Easter Egg)-->
		<p id = 'blogJumboPage'>Page {{blog_posts.page}}</p>
		<p id = 'blogJumboArrowDown'>&#8609</p>
		</div>
	</div>


	<div class = 'container' >
		
		{% for post in blog_posts.items %}
		{% if post.date + time > now %}
    	<span class="badge badge-success">New!</span>
    	{% endif %}
		<div class="jumbotron" id = "limeGradient">
		<div class="card text-center">
			 <div class="card-header"> 
    				<h4 id = 'fontGaramond'><a class="card-title" href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">{{post.title}}</a></h4> 
  			</div>
			<div class="card-body" >
				
				Written by: <a href="{{url_for('users.user_posts', username = post.author.username)}}">{{post.author.username.upper()}}</a>
				<h6>Published on: <a href="{{url_for('blog_posts.blog_post_by_date', blog_post_id = post.id, blog_date = post.date.strftime('%m-%d-20%y'))}}">{{post.date.strftime('%m-%d-20%y')}}</a></h6>
				<br>
				{% if post.text|length > 50 %}
				<h4 id = 'fontGaramond'>{{post.text[:50]}} ...</h4>
				<a class = 'btn btn-primary' href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">Continue reading →</a>
				{% else %}
				<h4 id = 'fontGaramond'>{{post.text}}</h4>
				<a class = 'btn btn-primary' href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">Read →</a>
				{% endif %}
		</div>
		</div>
		</div>
		{% endfor %}
	</div>
		
<nav aria-label = 'Page navigation example' id = 'blackGradient'>
	<ul class="pagination justify-content-center pagination-lg" >
		{% for page_num in blog_posts.iter_pages() %}
			{% if blog_posts.page == page_num %}
			<li class="page-item disabled">
				<a class="page-link" href="{{ url_for('core.blog', page = page_num) }}" >{{ page_num }}</a></li>
			</li>
			{% else %}
			<li class="page-item">
				<a class="page-link" href="{{ url_for('core.blog',  page = page_num) }}">{{ page_num }}</a>
			</li>
			{% endif %}
		
		{% endfor %}
	
	
</nav>
<footer id=blogFooter>
		<h5>© Andy Zheng 2019</h5>
</footer>
{% endblock %}