{% extends 'base.html' %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="static/pics/hp1.jpg" class="d-block w-100" alt="..." id='carouselPics'>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="static/pics/hp2.jpg" class="d-block w-100" alt="..." id='carouselPics'>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="static/pics/hp3.jpg" class="d-block w-100" alt="..." id='carouselPics'>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="static/pics/hp4.jpg" class="d-block w-100" alt="..." id='carouselPics'>
    </div>
     <div class="carousel-item" data-interval="5000">
      <img src="static/pics/hp5.jpg" class="d-block w-100" alt="..." id='carouselPics'>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container" align="center">
<span class="badge badge-info">Credit to Unsplashed.com for the images.</span>
</div>
{% endblock %}