{% extends 'base.html' %}
{% block content %}

<div id = 'formsGradient' class='navbarRegisterDivider'>
	<div class="container" >
		<div class="jumbotron postColor">
		<form class="form-group" method='POST' >
		{{ form.hidden_tag() }}

		<div class="form-group">
		{{ form.email.label(class='form-control-label') }}
		{{ form.email(class='form-control form-control-lg') }}
		</div>

		<div class="form-group">
		{{ form.username.label(class='form-control-label') }}
		{{ form.username(class='form-control form-control-lg') }}
		</div>

		<div class="form-group">
		{{ form.password.label(class='form-control-label') }}
		{{ form.password(class='form-control form-control-lg') }}
		</div>

		<div class="form-group">
		{{ form.pass_confirm.label(class='form-control-label') }}
		{{ form.pass_confirm(class='form-control form-control-lg') }}
		</div>

		<div class="form-group">
		{{ form.submit(class='btn btn-outline-info') }}
		</div>

		</form>
		<b>Already have an account? Sign in <a href="{{url_for('users.login')}}"><button type="button" class="btn btn-outline-info" id='formsButtonMargin'>here!</button></a></b>
		</div>
	</div>
</div>
<footer class='indexFooterText'>
	<hr class='indexFooter'>
	&copy Andy Zheng 2019
</footer>
{% endblock %}