{% extends 'base.html' %}

{% block content %}
	<body style="background-image: linear-gradient(to bottom right, #ffffff,gray);">
		
	

	<div class = 'jumbotron'style="background-image: linear-gradient(to bottom right, #ffffff,gray); ">
		<h2><u><strong>About Me</strong></u></h2>
		<p>Hey there! My name is Andy and I am a Software Engineer/Developer from Brooklyn, NY. I graduated from Stony Brook University in 2017.
		<br>
		Interest-wise, I really enjoy coding, headphone browsing, basketball and technology (broad, but anything that can make our lives easier).</p>
		
		<p>Python has always been one of my favorite programming languages, so when I decided to write my own personal website from scratch, I thought- why not write it in Python?
		<br> 
		It would be a decent alternative to the classic combination of HTML, CSS, and JavaScript.</p>
		<p>So with the aid of the Flask framework, I managed to write the entire back-end logic using Python!</p>
		<p>The tech stack for this website looks something like this:
			<ul>
			<li>Python (Flask), HTML, CSS (Bootstrap), SQLite</li>
		</ul></p>

		

		<h3><u><strong>My Skills</strong></u></h3>
		<ul>
			<li><b>Languages:</b> Python, JavaScript, Java</li>
			<li><b>Databases:</b> SQLite, MySQL, MongoDB</li>
			<li><b>Technologies:</b> HTML, CSS, Bootstrap, jQuery, Node.js, Git</li>
			<li><b>Frameworks:</b> Flask, Express</li>
			<li><b>Soft Skills:</b> Critical Thinking, Problem Solving, Self-Motivated, Team Player</li>
		</ul>
		
		<h3><u><strong>Contact and Platforms</strong></u></h3>
		<strong>Email: Andyzheng94@live.com</strong> - I check very often
		<br><br>
		<strong>Github:</strong>
		<a href="https://github.com/andyz123"><button type="button" class="btn btn-outline-dark"><i style="font-size:24px" class="fa">&#xf09b;</i></button></a>
		<strong>LinkedIn:</strong>
		<a href="https://www.linkedin.com/in/andy-zheng-5a512614a/"><button type="button" class="btn btn-outline-primary"><i style="font-size:24px" class="fa">&#xf08c;</i></button></a>
	</div>
	<footer>
		<p align="center" style="font-size: 1vw; font-family: 'Garamond';">© Andy Zheng 2019</p>
	</footer>
	
{% endblock %}