{% extends 'base.html' %}

{% block content %}
	

	<div class = 'jumbotron'style="background-color: #FFFFF0;">
		<h2><u><strong>About Me</strong></u></h2>
		<p>Hey there! My name is Andy and I am an aspiring Software Engineer/Data Analyst from Brooklyn, NY. I graduated from Stony Brook University with a Bachelor's of Science in Mathematics & Statistics and Economics (double major).</p>
		
		<p>For the first 2 years of college, I was actually a Computer Science major. However, from year 3 onwards I enrolled in a math-heavy curriculum. This was not because I didn't enjoy being a Computer Science student, in fact, I loved it. Learning and creating is a great hobby of mine. However, I had begun to have thoughts of eventually getting a Master's degree. My goal is to obtain a Masters in Computer Science, with a mathematics background.</p>

		<p>I am a critical thinker, self-motivated, constantly learning and love working in a team environment.</p>

		<h2><u><strong>My Skills</strong></u></h2>
		<ul>
			<li>Languages: Python, Java, JavaScript</li>
			<li>Databases: SQLite, MySQL</li>
			<li>Tools and Technologies: Flask, HTML, CSS, Bootstrap, Git</li>
		</ul>
		
		<h2><u><strong>About This Project</strong></u></h2>
		<p>This project was built using the Flask framework. There are many, many files and folders after the completion of this project, but with the help of Flask Blueprint, the files are neatly organized. FlaskForm allows me to easily create usable forms and Bootstrap allows me to decorate and add many eye-pleasing features. This database used for this project is SQLite due to it's availability and convenience. Templates were done in HTML of course.</p>
		<p>Overall, this website contains many features. You do not have to use a legitimate email to register. It just has to end with @email.com.</p>
		<ul>
			<li>You are able to create an account.</li>
			<li>You are able to create posts and others can see it.</li>
			<li>You are able to edit your own posts.</li>
			<li>You can see all posts made by a certain person.</li>
			<li>Each separate account has a picture. We provide a default one, but you may upload your own.</li>
			<li>You can click on the date published to see all posts made that day.</li>
			<li>You can change your username and email.</li>
			<li>You can see all users who registered for our site.</li>
			<li>You can see a slideshow of Mountain pictures.</li>
			<li>You can see a slideshow of Nature pictures.</li>
			<li>You can see a slideshow of Animal pictures.</li>
			<li>There are many more things, feel free to explore around! It is not an amazing site, but I hope to use this knowledge to create an even better one in the future.</li>
		</ul>
		<p>The tech stack used for this website is: Python, Flask, HTML, Boostrap, SQLite</p>

		<img src="https://images.unsplash.com/photo-1526660690293-bcd32dc3b123?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
	</div>
{% endblock %}