<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='pics/andy.ico') }}">
	<title>Andy's Personal Blog</title>
</head>
<body>
	<nav class="navbar fixed-top navbar-light"  id="nav1" >
		<li class ='nav-link'>
			<a href="{{url_for('core.index')}}">
				<img src="/static/pics/home.png" width="30" height="30" class="d-inline-block align-top" alt=""><b><font color ='black'> Home</font></b></a>
		</li>
		<ul class="nav justify-content-end">
		<li class ='nav-link'>
			<a href="{{url_for('core.blog')}}">Blog</a>
		</li>
		<li class ='nav-link'>
			<a href="{{url_for('core.about')}}">About</a>
		</li>
		
		{% if current_user.is_authenticated %}
		<li class= 'nav-link'>
			<a href="{{url_for('users.logout')}}">Log Out</a>
		</li>
		<li class= 'nav-link'>
			<a href="{{url_for('users.account')}}">Account (<i>Hello, {{current_user.username}}!</i>)</a>
		</li>
		<li class= 'nav-link'>
			<a href="{{url_for('blog_posts.create_post')}}">Create Post</a>
		</li>

		{% else %}
		<li class= 'nav-link'>
			<a href="{{url_for('users.login')}}">Log In</a>
		</li>
		<li class= 'nav-link'>
			<a href="{{url_for('users.register')}}">Register</a>
		</li>
		{% endif %}
		
		<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Carousel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="{{url_for('core.animals')}}">Animals</a>
			<div class="dropdown-divider"></div>
		
			<a class="dropdown-item" href="{{url_for('core.nature')}}">Nature</a>
			<div class="dropdown-divider"></div>
		
			<a class="dropdown-item" href="{{url_for('core.headphones')}}">Headphones</a>
			<div class="dropdown-divider"></div>

			<a class="dropdown-item" href="{{url_for('core.technology')}}">Technology</a>
			{% if current_user.is_authenticated %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{{url_for('core.goat')}}">GOAT</a>
			{% endif %}
		<li class ='nav-link'>
			<a href="{{url_for('users.list_of_users')}}">List of Users</a>
		</li>
	</ul>
	</nav>
	
<div style='padding-top: 65px' >

	{% block content %}

	{% endblock %}

</div>


</body>
</html>