{% extends 'base.html' %}
{% block content %}
<body style="background-image: linear-gradient(to bottom right, white,black);">
	
	<div class = 'jumbotron border border-primary' style="background-color: #C4EEFF; background-image: url('static/pics/blogimage.jpg'); background-size: 100% 100vh; background-repeat: no-repeat;">
		<div align="center" style="color:rgba(248, 247, 246, 0.9); font-family: 'Garamond'; ">
		{% if current_user.is_authenticated %}
		<h1>Welcome to the Blog, {{current_user.username}}!</h1>
		<h2>Feel free to browse or post.</h2>
		{% else %}
		<h1>Welcome to the Blog! </h1>
		<h2>Feel free to browse. Register to post!</h2>
		{% endif %}
		<h6>Posts within two days created are marked <span class="badge badge-success">New!</span></h6>
		<!-- Hidden Puppy Image (Easter Egg)-->
		<img src="https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="opacity: 0;">
		<!-- Hidden Puppy Image (Easter Egg)-->
		<p><b style="font-size: 3vh; line-height: 2;">Page {{blog_posts.page}}</b></p>
		<p style="font-size: 5vh; line-height: 0">&#8609</p>
		</div>
	</div>


	<div class = 'container' >
		
		{% for post in blog_posts.items %}
		<div class="jumbotron" style="background-image: linear-gradient(to bottom right, white,#666699);">
		<div class="card text-center">
			 <div class="card-header  " >
    				<strong>Post #{{post.id}}</strong> 
    				{% if post.date + time > now %}
    				<span class="badge badge-success">New!</span>
    				{% endif %}
    				<h4><a class="card-title" href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">{{post.title}}
    				</a></h4>
  			</div>
			<div class="card-body" >
				
				Written by: <a href="{{url_for('users.user_posts', username = post.author.username)}}">{{post.author.username.upper()}}</a>
				<p>Published on: <a href="{{url_for('blog_posts.blog_post_by_date', blog_post_id = post.id)}}">{{post.date.strftime('%m-%d-20%y')}}</a></p>
				{% if post.text|length >= 13 %}
				<p>{{post.text[:13]}}...</p>
				<a class = 'btn btn-primary' href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">Read the full post here!</a>
				{% else %}
				<p>{{post.text}}</p>
				<a class = 'btn btn-primary' href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">Read here!</a>
				{% endif %}
		</div>
		</div>
		</div>
		{% endfor %}
	</div>
		
<nav aria-label = 'Page navigation example' style="background-color: gray;">
	<ul class="pagination justify-content-center pagination-lg" >
		{% for page_num in blog_posts.iter_pages() %}
			{% if blog_posts.page == page_num %}
			<li class="page-item disabled">
				<a class="page-link" href="{{ url_for('core.blog', page = page_num) }}" >{{ page_num }}</a></li>
			</li>
			{% else %}
			<li class="page-item">
				<a class="page-link" href="{{ url_for('core.blog',  page = page_num) }}">{{ page_num }}</a>
			</li>
			{% endif %}
		
		{% endfor %}
	
	
</nav>

{% endblock %}