body.portfolio {
    margin: 0 auto;
}

i.fa {
    font-size: 1.5rem;
}

hr.portfolioSeparate {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
}

#portfolioNavbar {
    background: rgba(234, 230, 230, 0.3);
}

#portfolioHeader {
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("/static/pics/portfolioBG.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    font-color: white;
}

#portfolioEnding {
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: url("/static/pics/portfolioBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#portfolioFooter {
	margin: 0 auto;
}

#portfolioTable {
    width: 20%;
    margin: 0 auto;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
}

#portfolioTable:hover {
	box-shadow: 5px 10px 18px #888888;
}

#navbarPadding {
    margin-right: 35px;
}

#link {
	color: black;
}

#link:hover {
	color: #3fc1c9;
	text-decoration: none;
}

.portfolioAbout {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.portfolioContactForm {
    width: 50%;
    margin: 0 auto;
}

.portfolioIntro {
    margin-top: 100px;
    color: white;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
}

.portfolioRFont {
	color: #3fc1c9;
    font-family: 'Roboto', sans-serif;
}

.portfolioOFont {
    font-family: 'Oswald', sans-serif;
}

.summary {
    width: 40%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.box {
    border: solid;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    height: 8rem;
    width: 20%;
    margin: 10px auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.box:hover {
	box-shadow: 5px 10px 18px #888888;
}

.paddingDistance {
    padding-left: 1rem;
}

.portfolioHeadings {
    text-align: center;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 50px;
    color: #11999e;
    font-family: 'Roboto', sans-serif;
}

.portfolioHeadingsAlt {
    text-align: center;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    color: #11999e;
    font-family: 'Roboto', sans-serif;
}

.portfolioRow1 {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
}

.portfolioRow2 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.blackjack {
	box-shadow: 5px 10px 18px #888888;
    width: 40%;
    float: right;
    margin-right: 30px;
    transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
}

.blackjack:hover {
	width:100%;
	margin: 0 auto;
}

.personalSite {
	box-shadow: 5px 10px 18px #888888;
    width: 40%;
    float: right;
    margin-right: 30px;
    transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
}

.personalSite:hover {
	width:100%;
	margin: 0 auto;
}

.shoppingList {
	box-shadow: 5px 10px 18px #888888;
    width: 40%;
    float: left;
    margin-right: 30px;
    transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
}

.shoppingList:hover {
	width:100%;
	margin: 0 auto;
}

.webscrape {
	box-shadow: 5px 10px 18px #888888;
    width: 40%;
    float: left;
    margin-right: 30px;
    transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
}

.webscrape:hover {
	width:100%;
	margin: 0 auto;
}