body.portfolio{
	margin: 0 auto;
}

#account, #blackFont, #carousel, #signin{
	color:black;
}

/*#baseNavbar{
	background: #f6f6f6;
	opacity: 0.5;
}*/

#portfolioHeader{
  height: 100vh; 
  width: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("/static/pics/portfolioBG.jpg"); 
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-color: white;
}

#portfolioFooter {
  height: 100vh; 
  width: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: url("/static/pics/portfolioBG.jpg"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.portfolioIntro {
	margin-top:100px;
	color: white;
	opacity: 0.5;
	font-family: 'Roboto', sans-serif;
}