#baseNavbar {
    background: rgba(234, 230, 230, 0.3);
}

#blackGradient {
    background-image: linear-gradient(to bottom right, white, black);
}

#blogGradient {
	background-image: -webkit-linear-gradient(65deg, #71c9ce 50%, #e3fdfd 50%);
	height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#blogGradientMain {
	background-image: -webkit-linear-gradient(60deg, #393e46 50%, #EAf6f6 50%);
    background-size: cover;
    background-position: center;
    padding-bottom:5px;
}

#blogJumbo {
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("/static/pics/blogimage.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

}

#blogJumboTextRoboto {
    padding-top: 150px;
    color: rgba(248, 247, 246, 0.9);
    font-family: 'Roboto', sans-serif;
}

#blogJumboTextOswald {
    color: rgba(248, 247, 246, 0.9);
    font-family: 'Oswald', sans-serif;
}

#blogJumboPage {
    font-size: 3vh;
    font-weight: bold;
    line-height: 2;
    padding-top: 350px;
}

#blogJumboArrowDown {
    font-size: 5vh;
    line-height: 0;
}

#blogPostByDate {
    background-color: #a6e3e9;
    width:85%;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-bottom:30px;
}

#blogPostOuter {
	background-color: #a6e3e9;
}

#blogPostOuterAlt {
	background-color: #00adb5;
}

#blogPostInner {
	background-color: #cbf1f5;
	font-family: 'Oswald', sans-serif;
}

#carouselPics {
    height: 680px;
}

#fontOswald {
    font-family: 'Oswald', sans-serif;
}

#fontRoboto {
	color:black;
	font-family: 'Roboto', sans-serif;
}

#fontRobotoAlt{
	color:white;
	font-family: 'Roboto', sans-serif;
}

#index {
	width:2%;
	-webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
         -o-animation: fadein 8s; /* Opera < 12.1 */
            animation: fadein 8s;
}

#indexAlt {
	width: 2%;
}

#indexBackground {
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: url("/static/pics/homepage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#formsButtonMargin {
	margin-bottom: 5px;
}

#formsGradient {
	height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(65deg, #222831 50%, #eeeeee 50%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#postGradient {
	height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(65deg, #222831 50%, #EAF6F6 50%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.accountProfile {
	font-size: inherit;
    padding: 0.2em 0 0.2em 0.2em;
    margin: 0.1em;
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;*/
}

.blackFont {
    color: black;
}

.blackFont:hover {
    color: #3fc1c9;
    text-decoration: none;
}

.indexFooter {
	border: solid #EAF6F6 6px;
    border-bottom: none;
	margin-top: 0;
}

.indexFooterText {
	color:#EAF6F6;
	background-color: #222831;
	text-align: center;
	padding-bottom: 10px
}

.indexWelcome1 {
    color: rgba(234, 230, 230, 0.8);
    padding-top: 150px;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.indexWelcome2 {
    color: rgba(234, 230, 230, 0.8);
    padding-top: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.navbarDivider {
    padding-top: 64px;
}

.navbarFormsDivider {
	padding-top: 175px;
}

.navbarRegisterDivider {
	padding-top: 100px;
}

.postColor {
	color:white;
    background-color: #393e46;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.postPadding {
	padding-bottom: 20px;
}

.postSize {
	background-color: #f9f7f7;
	width: 75%;
	margin: 0 auto;
}